[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
requests = "*"
requests-mock = "*"
responses = "*"
black = "*"
kafka-python = "*"

[dev-packages]

[requires]
python_version = "3.8"
